<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To My Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/first.js"></script>
  </head>
  <body>
    <h1>Hi, I am Kaku</h1>
    <p>Welcome to my homepage</p>
    <p><a href="https://deadhole.herokuapp.com/deadhole">Click here to play Deadhole - space shooter game</a></p>
    <p><a href="https://deadhole.herokuapp.com/Phaser">Click here to play Kakurio - make a high score</a></p>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->
  </body>
</html>
