<!DOCTYPE html>
<html>
  <head>
    <body bgcolor="#922BED" bgborder= "10">
    <title>Welcome To My Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/first.js"></script>
    <style type="text/css">
    h1{
      background-color: skyblue;
      border-left: 19px solid blue;
      text-align: center;
      font-size: 90px;
      font-style:oblique;
    
    }
    h3{
      background-color: rgb(240, 118, 118);
      border: 19px solid rgb(255, 0, 0);
      text-align: center;
      font-size: 56px;
      font-style:oblique;
      

    }
    h2{
      background-color: rgb(145, 90, 167);
      border: 19px solid rgb(81, 18, 100);
      text-align: center;
      font-size: 50px;
      
    }
    th{
      background-color: rgb(125, 139, 145);
      border: 19px solid rgb(0, 0, 0);
      text-align: center;
      font-size: 89px;
      font-style:italic;
    }
    h4{
      
      border: 19px solid rgb(0, 0, 0);
      

    }
    p2{
      font-size: 27px;
      color: red
    }
    p{
      font-size: 80px;
    }
    th{
      color:brown
    }
    </style>
  </head>
  <body>
    <h1 >Welcome !</h1>
    <h3>"A little thought and a little kindness are often worth more than a great deal of money. -John Ruskin"</h3>
    <h2>Hi, This Is Ayush ; We play lots of games but now we play games like we play own and there graphics are so realistic but these games are harmful for childern those are under 3 years old So, I make games that are usely for 3 years old childern
      and play it easily And make a own high score  </h2>


    <table align = "center" >
      <tr>
        <th align = "center">
            <font size="+89">Deadhole</font>
        </th>
        <td width="50px">

        </td>
        <th align = "center">
            <font size="+89">Kakurio</font> 
        </th>
      </tr>
      <tr >
      <td>
        <h4><a href="https://deadhole.herokuapp.com/deadhole"><img src="../images/DeadHole.png" width="700px" height="500px" alt="Click here to play Deadhole - space shooter game" border= "10"></a></h4>
      <p2>click here to play 👆</p2>
        </td>
      <td width="50px">

      </td>
      <td>
          <h4><a href="https://deadhole.herokuapp.com/Phaser"><img src="../images/Kakurio.png" width="700px" height="500px" alt="Click here to play Kakurio - make a high score" border= "10 solid green"></a></h4>
      <p2>
          click here to play 👆

      </p2>
        </td>
    </tr>
    </table>

    <p>
      To Visit How I make these game
    </p>

    <p>Deadhole => <a href="http://www.html5quintus.com/">http://www.html5quintus.com/</a> </p>
    <p>Kakurio => <a href=https://phaser.io/>https://phaser.io/</a></p>
    
    
    
    

    
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->
  </body>
  </body>

</html>
